<!DOCTYPE html>
<html lang="en">

<head>


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <title>Quản lý khách sạn</title>

    <!-- Custom fonts for this template -->
    <link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

        <!-- icon css -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!-- Custom styles for this template -->
    <link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link th:href="@{vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" >

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                <i class="bi bi-currency-bitcoin"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Quản lý khách sạn</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                <i class="bi bi-emoji-wink-fill"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item  -->
             <li class="nav-item">

                            <a class="nav-link" th:href="@{/user}">
                                <i class="bi bi-person-video2"></i>
                                <span>Người dùng</span></a>

                        </li>

                        <!-- Nav Item  -->
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/customer}">
                                <i class="bi bi-people-fill"></i>
                                <span>Khách hàng</span></a>
                        </li>





                        <!-- Nav Item  -->
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/room}">
                            <i class="bi bi-pc-display"></i>
                                <span>Phòng</span></a>
                        </li>

                        <!-- Nav Item - Charts -->
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/bill}">
                            <i class="bi bi-wallet2"></i>
                                <span>Hóa đơn</span></a>
                        </li>

                        <!-- Nav Item - Tables -->
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/service}">
                            <i class="bi bi-person-lines-fill"></i>
                                <span>Dịch vụ</span></a>
                        </li>
                        <!-- Nav Item  -->
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/equipment}">
                            <i class="bi bi-person-rolodex"></i>
                                <span>Thiết bị</span></a>
                        </li>
                        <!-- Nav Item  -->
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{permission}">
                                <i class="bi bi-person-check-fill"></i>
                                <span>Quyền</span></a>
                        </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">



        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: url(https://i.gifer.com/2eSd.gif);">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">



                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                        <a th:href="@{/permission/add}" class="btn btn-primary"> Thêm quyền </a>

                        </li>





                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800" style="text-align: center;">QUẢN LÝ QUYỀN</h1>
                    <!---Alert---->
                    <div th:if="${success}"
                    	class="row alert alert-success alert-dismissible">
                    		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    			<span aria-hidden="true">Ã—</span>
                    		</button>
                    		<span th:text="${success}"></span>
                    </div>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Thông tin quyền</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Mã quyền</th>
                                            <th>Tên quyền</th>
                                            <th>EDIT</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                           <th>Mã quyền</th>
                                           <th>Tên quyền</th>
                                           <th>EDIT</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                         <tr th:each="per : ${listPer}">
                                            <td th:text="${per.permission_id}"></td>
                                            <td th:text="${per.permission_name}"></td>
                                            <td>
                                                <a th:href="@{/permission/edit/{id}(id=${per.permission_id})}">Sửa</a>
                                                <a th:href="@{/permission/delete/{id}(id=${per.permission_id})}">Xóa</a>
                                            </td>
                                         </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Quản lý khách sạn</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>


    </div>


    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>



    <!-- Bootstrap core JavaScript-->
    <script th:src="@{vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>



    <!-- Page level plugins -->
    <script th:src="@{vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{js/demo/datatables-demo.js}"></script>

</body>

</html>