<div th:fragment="sidebar">
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" >

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                    <div class="sidebar-brand-icon rotate-n-15">
                    <i class="bi bi-currency-bitcoin"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Quản lý khách sạn</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                    <i class="bi bi-emoji-wink-fill"></i>
                        <span>Dashboard</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Interface
                </div>

                <!-- Nav Item  -->
                 <li class="nav-item">

                                <a class="nav-link" th:href="@{/user}">
                                    <i class="bi bi-person-video2"></i>
                                    <span>Người dùng</span></a>

                            </li>

                            <!-- Nav Item  -->
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/customer}">
                                    <i class="bi bi-people-fill"></i>
                                    <span>Khách hàng</span></a>
                            </li>





                            <!-- Nav Item  -->
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/room}">
                                <i class="bi bi-pc-display"></i>
                                    <span>Phòng</span></a>
                            </li>

                            <!-- Nav Item - Charts -->
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/bill}">
                                <i class="bi bi-wallet2"></i>
                                    <span>Hóa đơn</span></a>
                            </li>

                            <!-- Nav Item - Tables -->
                            <li class="nav-item active">
                                <a class="nav-link" th:href="@{/service}">
                                <i class="bi bi-person-lines-fill"></i>
                                    <span>Dịch vụ</span></a>
                            </li>
                            <!-- Nav Item  -->
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/equipment}">
                                <i class="bi bi-person-rolodex"></i>
                                    <span>Thiết bị</span></a>
                            </li>
                            <!-- Nav Item  -->
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{permission}">
                                    <i class="bi bi-person-check-fill"></i>
                                    <span>Quyền</span></a>
                            </li>

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">



            </ul>
</div>